{% extends 'base.html'%}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
<div class="container" style="font-family:'Gotu', sans-serif;">
    <div class="jumbotron">
    <h1 style="text-align: center;">ART PITCHES</h1>
    <h4>
        The definition of art is open, subjective, debatable. 
        There is no agreement among historians and artists, which is why we’re left with so
         many definitions of art. The concept itself has changed over centuries.

The very notion of art continues today to stir controversy, 
being so open to multiple interpretations. It can be taken simply 
to mean any human activity, or any set of rules needed to develop an activity.
 This would generalize the concept beyond what is normally understood as the fine arts, now broadened to 
 encompass academic areas. The word has many other colloquial uses, too.
    </h4>
    <h4>we have a  pitch for the different art types and you are welcome to pitch yours in,upvote or downvote 
    and leave a comment.
    </h4>
    <h3>WELL ART IS BY YOUR OWN DEFINATION GIVE YOUR PITCH</h2>
    </div>
</div>
{% endblock %}