{% extends 'base.html'%}


{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
    <image src="{{url_for('static',filename='images/photo.jpg')}}" style="width: 450px;height: 600px;border-image: round;"></image>
            </div>
                <div class="col-md-6" style="font-family:'Gotu', sans-serif ;">
                    <h2>VISUAL ARTS</h2>
                    <h4>Visual art can be defined as a form of art that uses any medium to represent the artist’s idea,
                         emotion and imagination and photogtaphy is an example.Photography is an art to define what we find unique on our sorroundings
                        It is built on creativity,risks and secrets that one keeps to make his work unique
                    </h4>
                </div>
        </div><br><br>
        <!-- <div class="row" style="font-family:'Gotu', sans-serif ;">
            <div class="col-md-6">
    <image src="{{url_for('static',filename='images/fas.jpg')}}" style="width: 450px;height: 600px;border-image: round;"></image>
            </div>
                <div class="col-md-6"> 
                    <h2>APPLIED ARTS</h2>
                    <h4>Applied art is a part of visual art and it can be defined as art that has practical 
                        application as well as functionality.
                        Fashion design is an applied art but really look deeper..fashion is also an expression of our emotion,
                        seasons and taste every design is unique in its own way even if the resemblance is there,the stitches 
                        are unique.
                    </h4>

                </div>
        </div>
        <div class="col-md-6">
            <image src="{{url_for('static',filename='images/fas.jpg')}}" style="width: 450px;height: 600px;border-image: round;"></image>
                    </div>
                        <div class="col-md-6"> 
                            <h2>PERFORMING ARTS</h2>
                            <h4>Applied art is a part of visual art and it can be defined as art that has practical 
                                application as well as functionality.
                                Fashion design is an applied art but really look deeper..fashion is also an expression of our emotion,
                                seasons and taste every design is unique in its own way even if the resemblance is there,the stitches 
                                are unique.
                            </h4>
        
                        </div>
                </div>
    </div>    -->
{% endblock %}

{% block content %}




{% endblock %}