{% extends 'base.html'%}


{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">   
    <div class="container" style="color: black;">
        <div class="row">
            <div class="col-md-6">
    <image src="{{url_for('static',filename='images/photo.jpg')}}" style="width: 450px;height: 600px;border: 8px solid;"></image>
            </div>
                <div class="col-md-6" style="font-family:'Gotu', sans-serif ;">
                    <h2>VISUAL ARTS</h2>
                    <h4>Visual art can be defined as a form of art that uses any medium to represent the artist’s idea,
                         emotion and imagination and photogtaphy is an example.Photography is an art to define what we find unique on our sorroundings
                        It is built on creativity,risks and secrets that one keeps to make his work unique
                    </h4>  
                    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button> 
                    <button type="button" class="btn btn-outline-primary"><a href="/categories/visual">comment</a></button>
                </div>
        </div><br><br>
        <div class="row" style="font-family:'Gotu', sans-serif ;">
            <div class="col-md-6">
    <image src="{{url_for('static',filename='images/fas.jpg')}}" style="width: 450px;height: 600px;border: 8px solid;"></image>
            </div>
                <div class="col-md-6"> 
                    <h2>APPLIED ARTS</h2>
                    <h4>Applied art is a part of visual art and it can be defined as art that has practical 
                        application as well as functionality.
                        Fashion design is an applied art but really look deeper..fashion is also an expression of our emotion,
                        seasons and taste every design is unique in its own way even if the resemblance is there,the stitches 
                        are unique.
                    </h4>
                    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
                    <button type="button" class="btn btn-outline-primary"><a href="/categories/applied">comment</a></button>
                </div>
        </div><br><br>
        <div class="row" style="font-family:'Gotu', sans-serif ;" >
        <div class="col-md-6">
            <image src="{{url_for('static',filename='images/tr.jpg')}}" style="width: 450px;height: 600px;border: 8px solid;"></image>
                    </div>
                        <div class="col-md-6"> 
                            <h2>PERFORMING ARTS</h2>
                            <h4>
                                Of all the different forms of art, performing arts is much appreciated and enjoyed by people – dance,
                                 music, opera, films, theater, drama , magic shows and stand up comedies.Films and acts are an expression,mirror
                                 an image and a representation of our real lifes,what we imageine could be the case if we were set up in such 
                                 situations. 
                            </h4>
                            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
                            <button type="button" class="btn btn-outline-primary"><a href="/categories/perform">comment</a></button>
                        </div>
                </div><br><br>
    <div class="row" style="font-family:'Gotu', sans-serif ;" >
        <div class="col-md-6">
            <image src="{{url_for('static',filename='images/red.jpg')}}" style="width: 450px;height: 600px;border: 8px solid;"></image>
                    </div>
                        <div class="col-md-6"> 
                            <h2>GENERAL ART</h2>
                            <h4>
                               Art could be anthing u define it to be ....its always wat u think could change one's view on anything
                            </h4>
                            <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
                            <button type="button" class="btn btn-outline-primary"><a href="/categories/general">comment</a></button>
                        </div>
                </div>
    </div>   
</div>
{% endblock %}

{% block content %}




{% endblock %}