{% extends 'base.html'%}

{% block content %}
<!-- Styles block -->
   <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet"> 



{% block styles%}
    {{ super() }}
    <div class="container"style="font-family:'Gotu', sans-serif ;">
    <div class="row">
        <div class="col-md-6">
<h1 style="text-align: center ; color: black;font-family:'Gotu', sans-serif ;float: right;">ART PITCHES</h1>

    <image style="float: left;" src="{{url_for('static',filename='images/rt.jpg')}}"></image>    
        </div>
        <div class="col-md-6">
    <image style="float: right;" src="{{url_for('static',filename='images/rt.jpg')}}"></image>    
        </div>
    </div>
    </div>
{% endblock %}

{%endblock%}